@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-iJuqI5Kk-BHu: 1140px;
  --plasmic-token-content-max-width: var(--token-iJuqI5Kk-BHu);
  --token-4kGSM92h01mI: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-4kGSM92h01mI);
  --token-wHUalD-dz58r: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-wHUalD-dz58r);
  --token-hiFtk_fFntku: #92959bd9;
  --plasmic-token-light-label: var(--token-hiFtk_fFntku);
  --token-zttLOdPAdVAU: #05050599;
  --plasmic-token-light-secondary: var(--token-zttLOdPAdVAU);
  --token-jDbEb4mceUfJ: #007aff;
  --plasmic-token-light-blue: var(--token-jDbEb4mceUfJ);
  --token-2Z4vCbEB02zH: #ff3b30;
  --plasmic-token-light-red: var(--token-2Z4vCbEB02zH);
  --token-u89OJgUnd7au: #ffffff;
  --plasmic-token-white: var(--token-u89OJgUnd7au);
  --token-sXqJqboRGXIi: #ffffffd9;
  --plasmic-token-dark-label: var(--token-sXqJqboRGXIi);
  --token-JDuSPEtSOnTO: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-JDuSPEtSOnTO);
  --token-HkoznR-ZaiOc: #0000001a;
  --plasmic-token-light-quarternary: var(--token-HkoznR-ZaiOc);
  --token--RqCXURAmvFt: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token--RqCXURAmvFt);
  --token-NpqHMHdXrQtw: #32d74b;
  --plasmic-token-dark-green: var(--token-NpqHMHdXrQtw);
  --token-SrSwNN_BkfeL: #0a84ff;
  --plasmic-token-dark-blue: var(--token-SrSwNN_BkfeL);
  --token-s14ii2kOlvYc: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-s14ii2kOlvYc);
  --token-DFyhT-VbvZhv: #34c759;
  --plasmic-token-light-green: var(--token-DFyhT-VbvZhv);
  --token-wV0cY5U1LfcK: #5856d6;
  --plasmic-token-light-indigo: var(--token-wV0cY5U1LfcK);
  --token-p0BMVPzZrmeS: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-p0BMVPzZrmeS);
  --token-p0BMVPzZrmeS: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-p0BMVPzZrmeS);
  --token-qnWmRJvKfb9U: 1240px;
  --plasmic-token-max-width-navbar: var(--token-qnWmRJvKfb9U);
  --token-qnWmRJvKfb9U: 1240px;
  --plasmic-token-max-width-navbar: var(--token-qnWmRJvKfb9U);
  --token-v914S8HdTC_g: var(--token-sEBEQEE3I3O1);
  --plasmic-token-unnamed-style-token-2: var(--token-v914S8HdTC_g);
  --token-v914S8HdTC_g: var(--token-sEBEQEE3I3O1);
  --plasmic-token-unnamed-style-token-2: var(--token-v914S8HdTC_g);
  --token-sEBEQEE3I3O1: #eeeeee80;
  --plasmic-token-grey: var(--token-sEBEQEE3I3O1);
  --token-sEBEQEE3I3O1: #eeeeee80;
  --plasmic-token-grey: var(--token-sEBEQEE3I3O1);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-rc_iCb5-0TOX_font-family: "Montserrat", sans-serif;
  --mixin-rc_iCb5-0TOX_font-size: 24px;
  --mixin-rc_iCb5-0TOX_font-weight: 500;
  --mixin-rc_iCb5-0TOX_font-style: normal;
  --mixin-rc_iCb5-0TOX_color: #00000080;
  --mixin-rc_iCb5-0TOX_text-align: left;
  --mixin-rc_iCb5-0TOX_text-transform: none;
  --mixin-rc_iCb5-0TOX_line-height: 1.5;
  --mixin-rc_iCb5-0TOX_letter-spacing: normal;
  --mixin-rc_iCb5-0TOX_white-space: pre-wrap;
  --mixin-rc_iCb5-0TOX_user-select: text;
  --mixin-rc_iCb5-0TOX_text-decoration-line: none;
  --mixin-rc_iCb5-0TOX_text-overflow: clip;
  --mixin-azPTFldmLbdj_white-space: pre-wrap;
  --mixin-fXW4SnsIMnSj_font-family: "Montserrat", sans-serif;
  --mixin-fXW4SnsIMnSj_color: #ffffff;
  --mixin-fXW4SnsIMnSj_font-size: 72px;
  --mixin-fXW4SnsIMnSj_font-weight: 700;
  --mixin-fXW4SnsIMnSj_line-height: 88px;
  --mixin-fXW4SnsIMnSj_white-space: pre-wrap;
  --mixin-psOtm3kYT5xr_font-family: "Inter", sans-serif;
  --mixin-psOtm3kYT5xr_color: #000000;
  --mixin-psOtm3kYT5xr_font-size: 36px;
  --mixin-psOtm3kYT5xr_font-weight: 700;
  --mixin-psOtm3kYT5xr_line-height: 43px;
  --mixin-psOtm3kYT5xr_text-align: center;
  --mixin-psOtm3kYT5xr_white-space: pre-wrap;
  --mixin-WX4Vyu4AMV17_font-family: "Inter", sans-serif;
  --mixin-WX4Vyu4AMV17_color: #000000;
  --mixin-WX4Vyu4AMV17_font-size: 24px;
  --mixin-WX4Vyu4AMV17_font-weight: 600;
  --mixin-WX4Vyu4AMV17_letter-spacing: -0.5px;
  --mixin-WX4Vyu4AMV17_line-height: 1.3;
  --mixin-WX4Vyu4AMV17_white-space: pre-wrap;
  --mixin-0Kw4dnmQBGtW_font-family: "Montserrat", sans-serif;
  --mixin-0Kw4dnmQBGtW_color: #185adb;
  --mixin-0Kw4dnmQBGtW_font-size: 24px;
  --mixin-0Kw4dnmQBGtW_font-weight: 700;
  --mixin-0Kw4dnmQBGtW_line-height: 29px;
  --mixin-0Kw4dnmQBGtW_text-align: center;
  --mixin-0Kw4dnmQBGtW_white-space: pre-wrap;
  --mixin-WjGMjbG1Ch-c_font-family: "Inter", sans-serif;
  --mixin-WjGMjbG1Ch-c_color: #000000;
  --mixin-WjGMjbG1Ch-c_font-size: 16px;
  --mixin-WjGMjbG1Ch-c_font-weight: 600;
  --mixin-WjGMjbG1Ch-c_line-height: 1.5;
  --mixin-WjGMjbG1Ch-c_white-space: pre-wrap;
  --mixin-GjThDcaCigH6_border-left-color: #dddddd;
  --mixin-GjThDcaCigH6_border-left-style: solid;
  --mixin-GjThDcaCigH6_border-left-width: 3px;
  --mixin-GjThDcaCigH6_color: #888888;
  --mixin-GjThDcaCigH6_padding-left: 10px;
  --mixin-GjThDcaCigH6_white-space: pre-wrap;
  --mixin-f5LhUwYgNuUJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-f5LhUwYgNuUJ_border-bottom-color: #dddddd;
  --mixin-f5LhUwYgNuUJ_border-bottom-style: solid;
  --mixin-f5LhUwYgNuUJ_border-bottom-width: 1px;
  --mixin-f5LhUwYgNuUJ_border-left-color: #dddddd;
  --mixin-f5LhUwYgNuUJ_border-left-style: solid;
  --mixin-f5LhUwYgNuUJ_border-left-width: 1px;
  --mixin-f5LhUwYgNuUJ_border-right-color: #dddddd;
  --mixin-f5LhUwYgNuUJ_border-right-style: solid;
  --mixin-f5LhUwYgNuUJ_border-right-width: 1px;
  --mixin-f5LhUwYgNuUJ_border-top-color: #dddddd;
  --mixin-f5LhUwYgNuUJ_border-top-style: solid;
  --mixin-f5LhUwYgNuUJ_border-top-width: 1px;
  --mixin-f5LhUwYgNuUJ_border-bottom-left-radius: 3px;
  --mixin-f5LhUwYgNuUJ_border-bottom-right-radius: 3px;
  --mixin-f5LhUwYgNuUJ_border-top-left-radius: 3px;
  --mixin-f5LhUwYgNuUJ_border-top-right-radius: 3px;
  --mixin-f5LhUwYgNuUJ_font-family: "Inconsolata";
  --mixin-f5LhUwYgNuUJ_padding-bottom: 1px;
  --mixin-f5LhUwYgNuUJ_padding-left: 4px;
  --mixin-f5LhUwYgNuUJ_padding-right: 4px;
  --mixin-f5LhUwYgNuUJ_padding-top: 1px;
  --mixin-f5LhUwYgNuUJ_white-space: pre-wrap;
  --mixin-9DNVY4n-y0uz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9DNVY4n-y0uz_border-bottom-color: #dddddd;
  --mixin-9DNVY4n-y0uz_border-bottom-style: solid;
  --mixin-9DNVY4n-y0uz_border-bottom-width: 1px;
  --mixin-9DNVY4n-y0uz_border-left-color: #dddddd;
  --mixin-9DNVY4n-y0uz_border-left-style: solid;
  --mixin-9DNVY4n-y0uz_border-left-width: 1px;
  --mixin-9DNVY4n-y0uz_border-right-color: #dddddd;
  --mixin-9DNVY4n-y0uz_border-right-style: solid;
  --mixin-9DNVY4n-y0uz_border-right-width: 1px;
  --mixin-9DNVY4n-y0uz_border-top-color: #dddddd;
  --mixin-9DNVY4n-y0uz_border-top-style: solid;
  --mixin-9DNVY4n-y0uz_border-top-width: 1px;
  --mixin-9DNVY4n-y0uz_border-bottom-left-radius: 3px;
  --mixin-9DNVY4n-y0uz_border-bottom-right-radius: 3px;
  --mixin-9DNVY4n-y0uz_border-top-left-radius: 3px;
  --mixin-9DNVY4n-y0uz_border-top-right-radius: 3px;
  --mixin-9DNVY4n-y0uz_font-family: "Inconsolata";
  --mixin-9DNVY4n-y0uz_padding-bottom: 3px;
  --mixin-9DNVY4n-y0uz_padding-left: 6px;
  --mixin-9DNVY4n-y0uz_padding-right: 6px;
  --mixin-9DNVY4n-y0uz_padding-top: 3px;
  --mixin-9DNVY4n-y0uz_white-space: pre-wrap;
  --mixin-eDmm27x4D5Zo_display: flex;
  --mixin-eDmm27x4D5Zo_flex-direction: column;
  --mixin-eDmm27x4D5Zo_align-items: stretch;
  --mixin-eDmm27x4D5Zo_justify-content: flex-start;
  --mixin-eDmm27x4D5Zo_list-style-position: outside;
  --mixin-eDmm27x4D5Zo_padding-left: 40px;
  --mixin-eDmm27x4D5Zo_position: relative;
  --mixin-eDmm27x4D5Zo_list-style-type: decimal;
  --mixin-eDmm27x4D5Zo_white-space: pre-wrap;
  --mixin-qQvgRKkZGP1e_display: flex;
  --mixin-qQvgRKkZGP1e_flex-direction: column;
  --mixin-qQvgRKkZGP1e_align-items: stretch;
  --mixin-qQvgRKkZGP1e_justify-content: flex-start;
  --mixin-qQvgRKkZGP1e_list-style-position: outside;
  --mixin-qQvgRKkZGP1e_padding-left: 40px;
  --mixin-qQvgRKkZGP1e_position: relative;
  --mixin-qQvgRKkZGP1e_list-style-type: disc;
  --mixin-qQvgRKkZGP1e_white-space: pre-wrap;
  --mixin-6-ZUNF7vF4yy_color: #000000;
  --mixin-6-ZUNF7vF4yy_font-family: "Montserrat", sans-serif;
  --mixin-6-ZUNF7vF4yy_font-size: 64px;
  --mixin-6-ZUNF7vF4yy_font-weight: 700;
  --mixin-6-ZUNF7vF4yy_line-height: 78px;
  --mixin-6-ZUNF7vF4yy_text-align: center;
  --mixin-6-ZUNF7vF4yy_white-space: pre-wrap;
  --mixin-RYHYhhK10RN9_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-rc_iCb5-0TOX_font-size: 16px;
    --mixin-rc_iCb5-0TOX_line-height: 27px;
    --mixin-rc_iCb5-0TOX_white-space: pre-wrap;
    --mixin-fXW4SnsIMnSj_font-size: 40px;
    --mixin-fXW4SnsIMnSj_line-height: 48px;
    --mixin-fXW4SnsIMnSj_white-space: pre-wrap;
    --mixin-6-ZUNF7vF4yy_font-size: 28px;
    --mixin-6-ZUNF7vF4yy_line-height: 34px;
    --mixin-6-ZUNF7vF4yy_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-0_B4kFGUD3rb_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-0_B4kFGUD3rb_white-space);
  --mixin-LzwMk3VFs5Fe_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-LzwMk3VFs5Fe_box-shadow
  );
  --mixin-LzwMk3VFs5Fe_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-LzwMk3VFs5Fe_white-space
  );
  --mixin-P7ZaH92EDqQy_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-P7ZaH92EDqQy_white-space);
  --mixin-IWb3w5oC_JQP_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-IWb3w5oC_JQP_white-space
  );
  --mixin-u5s6OYjYLNM5_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-u5s6OYjYLNM5_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-rc_iCb5-0TOX_font-family);
  font-size: var(--mixin-rc_iCb5-0TOX_font-size);
  font-weight: var(--mixin-rc_iCb5-0TOX_font-weight);
  font-style: var(--mixin-rc_iCb5-0TOX_font-style);
  color: var(--mixin-rc_iCb5-0TOX_color);
  text-align: var(--mixin-rc_iCb5-0TOX_text-align);
  text-transform: var(--mixin-rc_iCb5-0TOX_text-transform);
  line-height: var(--mixin-rc_iCb5-0TOX_line-height);
  letter-spacing: var(--mixin-rc_iCb5-0TOX_letter-spacing);
  white-space: var(--mixin-rc_iCb5-0TOX_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-fXW4SnsIMnSj_font-family);
  color: var(--mixin-fXW4SnsIMnSj_color);
  font-size: var(--mixin-fXW4SnsIMnSj_font-size);
  font-weight: var(--mixin-fXW4SnsIMnSj_font-weight);
  line-height: var(--mixin-fXW4SnsIMnSj_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-psOtm3kYT5xr_font-family);
  color: var(--mixin-psOtm3kYT5xr_color);
  font-size: var(--mixin-psOtm3kYT5xr_font-size);
  font-weight: var(--mixin-psOtm3kYT5xr_font-weight);
  line-height: var(--mixin-psOtm3kYT5xr_line-height);
  text-align: var(--mixin-psOtm3kYT5xr_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-WX4Vyu4AMV17_font-family);
  color: var(--mixin-WX4Vyu4AMV17_color);
  font-size: var(--mixin-WX4Vyu4AMV17_font-size);
  font-weight: var(--mixin-WX4Vyu4AMV17_font-weight);
  letter-spacing: var(--mixin-WX4Vyu4AMV17_letter-spacing);
  line-height: var(--mixin-WX4Vyu4AMV17_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-0Kw4dnmQBGtW_font-family);
  color: var(--mixin-0Kw4dnmQBGtW_color);
  font-size: var(--mixin-0Kw4dnmQBGtW_font-size);
  font-weight: var(--mixin-0Kw4dnmQBGtW_font-weight);
  line-height: var(--mixin-0Kw4dnmQBGtW_line-height);
  text-align: var(--mixin-0Kw4dnmQBGtW_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-WjGMjbG1Ch-c_font-family);
  color: var(--mixin-WjGMjbG1Ch-c_color);
  font-size: var(--mixin-WjGMjbG1Ch-c_font-size);
  font-weight: var(--mixin-WjGMjbG1Ch-c_font-weight);
  line-height: var(--mixin-WjGMjbG1Ch-c_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-GjThDcaCigH6_color);
  padding-left: var(--mixin-GjThDcaCigH6_padding-left);
  border-left: var(--mixin-GjThDcaCigH6_border-left-width)
    var(--mixin-GjThDcaCigH6_border-left-style)
    var(--mixin-GjThDcaCigH6_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-f5LhUwYgNuUJ_font-family);
  border-radius: var(--mixin-f5LhUwYgNuUJ_border-top-left-radius)
    var(--mixin-f5LhUwYgNuUJ_border-top-right-radius)
    var(--mixin-f5LhUwYgNuUJ_border-bottom-right-radius)
    var(--mixin-f5LhUwYgNuUJ_border-bottom-left-radius);
  padding: var(--mixin-f5LhUwYgNuUJ_padding-top)
    var(--mixin-f5LhUwYgNuUJ_padding-right)
    var(--mixin-f5LhUwYgNuUJ_padding-bottom)
    var(--mixin-f5LhUwYgNuUJ_padding-left);
  border-top: var(--mixin-f5LhUwYgNuUJ_border-top-width)
    var(--mixin-f5LhUwYgNuUJ_border-top-style)
    var(--mixin-f5LhUwYgNuUJ_border-top-color);
  border-right: var(--mixin-f5LhUwYgNuUJ_border-right-width)
    var(--mixin-f5LhUwYgNuUJ_border-right-style)
    var(--mixin-f5LhUwYgNuUJ_border-right-color);
  border-bottom: var(--mixin-f5LhUwYgNuUJ_border-bottom-width)
    var(--mixin-f5LhUwYgNuUJ_border-bottom-style)
    var(--mixin-f5LhUwYgNuUJ_border-bottom-color);
  border-left: var(--mixin-f5LhUwYgNuUJ_border-left-width)
    var(--mixin-f5LhUwYgNuUJ_border-left-style)
    var(--mixin-f5LhUwYgNuUJ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9DNVY4n-y0uz_font-family);
  border-radius: var(--mixin-9DNVY4n-y0uz_border-top-left-radius)
    var(--mixin-9DNVY4n-y0uz_border-top-right-radius)
    var(--mixin-9DNVY4n-y0uz_border-bottom-right-radius)
    var(--mixin-9DNVY4n-y0uz_border-bottom-left-radius);
  padding: var(--mixin-9DNVY4n-y0uz_padding-top)
    var(--mixin-9DNVY4n-y0uz_padding-right)
    var(--mixin-9DNVY4n-y0uz_padding-bottom)
    var(--mixin-9DNVY4n-y0uz_padding-left);
  border-top: var(--mixin-9DNVY4n-y0uz_border-top-width)
    var(--mixin-9DNVY4n-y0uz_border-top-style)
    var(--mixin-9DNVY4n-y0uz_border-top-color);
  border-right: var(--mixin-9DNVY4n-y0uz_border-right-width)
    var(--mixin-9DNVY4n-y0uz_border-right-style)
    var(--mixin-9DNVY4n-y0uz_border-right-color);
  border-bottom: var(--mixin-9DNVY4n-y0uz_border-bottom-width)
    var(--mixin-9DNVY4n-y0uz_border-bottom-style)
    var(--mixin-9DNVY4n-y0uz_border-bottom-color);
  border-left: var(--mixin-9DNVY4n-y0uz_border-left-width)
    var(--mixin-9DNVY4n-y0uz_border-left-style)
    var(--mixin-9DNVY4n-y0uz_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-eDmm27x4D5Zo_display);
  flex-direction: var(--mixin-eDmm27x4D5Zo_flex-direction);
  align-items: var(--mixin-eDmm27x4D5Zo_align-items);
  justify-content: var(--mixin-eDmm27x4D5Zo_justify-content);
  list-style-position: var(--mixin-eDmm27x4D5Zo_list-style-position);
  padding-left: var(--mixin-eDmm27x4D5Zo_padding-left);
  position: var(--mixin-eDmm27x4D5Zo_position);
  list-style-type: var(--mixin-eDmm27x4D5Zo_list-style-type);
  flex-column-gap: var(--mixin-eDmm27x4D5Zo_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-qQvgRKkZGP1e_display);
  flex-direction: var(--mixin-qQvgRKkZGP1e_flex-direction);
  align-items: var(--mixin-qQvgRKkZGP1e_align-items);
  justify-content: var(--mixin-qQvgRKkZGP1e_justify-content);
  list-style-position: var(--mixin-qQvgRKkZGP1e_list-style-position);
  padding-left: var(--mixin-qQvgRKkZGP1e_padding-left);
  position: var(--mixin-qQvgRKkZGP1e_position);
  list-style-type: var(--mixin-qQvgRKkZGP1e_list-style-type);
  flex-column-gap: var(--mixin-qQvgRKkZGP1e_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-6-ZUNF7vF4yy_color);
  font-family: var(--mixin-6-ZUNF7vF4yy_font-family);
  font-size: var(--mixin-6-ZUNF7vF4yy_font-size);
  font-weight: var(--mixin-6-ZUNF7vF4yy_font-weight);
  line-height: var(--mixin-6-ZUNF7vF4yy_line-height);
  text-align: var(--mixin-6-ZUNF7vF4yy_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
